:root {
  --black: #3B434E;
  --gray-light: #EBEBEB;
  --gray-dark: #6c7077;
  --white: #FFFFFF;
  --primary: #7351f5;
  --primary-hover: #5d3aeb;
  --red: #FC836D;
  --green: #027c49;
  --green-light: #C8F8E4;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: #F5F6F8;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
