.h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}

.h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 50px;
}

.h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
