.reviewForm {
  display: grid;
  grid-template-columns: [start] auto 1fr auto [end];
  gap: 20px 30px;
  line-height: 24px;
  font-size: 14px;
  align-items: center;
}

.description {
  grid-column: start / end;

}

.submit {
  grid-column: start / end;

}

.title {
  justify-items: left;
}

.info {
  margin-left: 15px;
}

.rating {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.success {
  background: var(--green-light);
  position: relative;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.error {
  background: #ffcfc5;
  position: relative;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.error .close path{
  stroke: var(--red)
}

.successTitle {
font-weight: 700;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .reviewForm {
    grid-template-columns: [start] 1fr 1fr[end];
  }
  .title {
    justify-self: normal;
  }

  .rating{
    grid-column: start / end;
    grid-template-columns: auto 1fr;
  }
}

@media screen and (max-width: 640px) {
  .reviewForm {
    grid-template-columns: 1fr;
  }
  .title {
    justify-self: normal;
  }

  .rating{
    grid-column: start / end;
    grid-template-columns: auto 1fr;
  }
}
